*{
    font-size: 1em;
}

canvas {
    border: 1px solid black;

}

button {
    user-select: none;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 8px;
    border: 1px solid #4e6096;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 5px;
}

button:hover {
    background: linear-gradient(to bottom, #7892c2 50%, #476e9e 100%);
    background-color: #5574ad;
}

button:active {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
    position: relative;
    top: 1px;
}

section {
    margin: .5em 0 .5em 0;
    padding: 5px 0 5px 0px;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #fff;
    border-color: #a0a0a0;
    background: #a0a0a0;
}

.dropdown{
    padding-left: 10px;
}